<article mat-dialog-content>
  <aside class="d-flex justify-content-end">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </aside>

  <h2 mat-dialog-title>{{ formHeaderText }}</h2>

  <form [formGroup]="form">
    <!-- Ticket Body section -->
    <section formGroupName="ticketBody">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="title?.invalid">{{
          getInputErrorMessage(title)
        }}</mat-error>
      </mat-form-field>

      <section class="d-flex">
        <mat-form-field appearance="outline" class="flex-grow-1 me-2">
          <mat-label>Author</mat-label>
          <mat-select formControlName="authorId">
            <mat-option
              *ngFor="let author of usersOptions"
              [value]="author.value"
            >
              {{ author.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>Assignee</mat-label>
          <mat-select formControlName="assigneeId">
            <mat-option
              *ngFor="let assignee of usersOptions"
              [value]="assignee.value"
            >
              {{ assignee.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section class="d-flex">
        <mat-form-field appearance="outline" class="flex-grow-1 me-2">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option
              *ngFor="let status of statusOptions"
              [value]="status.value"
            >
              {{ status.viewValue | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority">
            <mat-option
              *ngFor="let priority of priorityOptions"
              [value]="priority.value"
            >
              {{ priority.viewValue | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          formControlName="description"
          rows="5"
          (focus)="onFormControlFocus(editableFields.DESCRIPTION)"
          (blur)="editedTextField = null"
        ></textarea>
        <button
          mat-raised-button
          *ngIf="editedTextField === editableFields.DESCRIPTION && data.ticket"
        >
          Save
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Related Ticket</mat-label>
        <mat-select formControlName="relatedTicketId">
          <mat-option
            *ngFor="let ticket of ticketsOptions"
            [value]="ticket.value"
          >
            {{ ticket.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <!-- Comments section -->
    <section formGroupName="comments">
      <!-- A new comment field -->
      <mat-form-field
        *ngIf="this.data.ticket"
        formGroupName="new"
        appearance="outline"
        class="mt-3"
      >
        <!-- TODO: Fix label styles -->
        <mat-label>Comment</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          formControlName="content"
          rows="2"
          (focus)="onFormControlFocus(editableFields.COMMENT)"
          (blur)="editedTextField = null"
        ></textarea>
        <button
          mat-raised-button
          *ngIf="showCommentSubmitBtn()"
          (click)="onAddComment()"
        >
          Save
        </button>
      </mat-form-field>

      <!-- Previous comments -->
      <ng-container *ngIf="previousComments.length">
        <div
          formArrayName="previous"
          *ngFor="let comment of previousComments.controls; let i = index"
          class="comment"
        >
          <mat-form-field [formGroupName]="i" class="comment__author">
            <mat-select formControlName="author">
              <mat-option
                *ngFor="let author of usersOptions"
                [value]="author.value"
              >
                by {{ author.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            [formGroupName]="i"
            class="comment__content"
          >
            <textarea
              matInput
              cdkTextareaAutosize
              formControlName="content"
            ></textarea>
          </mat-form-field>
          <aside class="comment__buttons-section" *ngIf="isOwnComment(i)">
            <button
              type="button"
              class="btn btn-link comment__button"
              aria-label="delete comment button"
              [disabled]="true"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-link comment__button"
              aria-label="delete comment button"
              (click)="onRemoveComment(i)"
            >
              Delete
            </button>
          </aside>
        </div>
      </ng-container>
    </section>

    <aside mat-dialog-actions align="end" *ngIf="!data.ticket">
      <button
        mat-raised-button
        color="primary"
        class=""
        [disabled]="form.invalid"
        type="submit"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </aside>
  </form>
</article>
